[user]
	name = hiyokokuma
	email = constellationmeister@gmail.com
[push]
	default = simple
[core]
	editor = vim -f
	excludesfile = /Users/kuma/.gitignore_global
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
